* {
    font-family: 'Inter', 'Font Awesome 6 Free', sans;
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
    
}

window#waybar.hidden {
    opacity: 0.5;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}


#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #cdd6f4;
    transition: none;
    
}


#workspaces button.focused { 
    background-color:  	#cdd6f4;
    border: 1px solid  	#cdd6f4;
    border-radius: 10px;
    color: #1e1e2e;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    border: 1px solid  	#f38ba8;
    border-radius: 10px;
    color: #1e1e2e;
}

#clock,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode {
    background-color: #1e1e2e; /* Change this to any gray color you want */
    border-radius: 10px; /* Adjust as needed */
    padding: 5px 10px;
    color: #cdd6f4;
}
#idle_inhibitor,
#scratchpad {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    border-radius: 10px; /* Adjust as needed */
    padding: 5px 10px;
    color: #cdd6f4;
}

.modules-left > widget {
    background-color: #1e1e2e;
    border-radius: 10px;
    padding: 5px 10px;
    color: #cdd6f4;
    margin: 50px;
}

.modules-right > widget {
    background-color: #1e1e2e;
    border-radius: 10px;
    padding: 5px 10px;
    color: #cdd6f4
}

#clock {
    background-color: #1e1e2e;
    border-radius: 10px;
    padding: 5px 10px;
    color: #cdd6f4;
}
#battery {
    background-color: transparent;
    color: #cdd6f4;
}

#battery.charging, #battery.plugged {
    color: #1e1e2e;
    background-color: #a6e3a1;
    border-radius: 10px;
    padding: 5px 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 10px;
    padding: 5px 10px;
}

label:focus {
    background-color: #000000;
}


#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    background-color: transparent;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: #1e1e2e;
    border-radius: 10px;
    padding: 5px 10px;
    color: #cdd6f4;
}

#scratchpad.empty {
	background-color: transparent;

}
